
<div class="col-10 offset-1 about">

  <h1>About Yoga</h1>

  <p>
    This app is built by <a target="_blank" href="https://github.com/Shilpa-Pinnaka/effective-dollop">Shilpa</a>

  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'shilpa.jpg', class: 'img-fluid' %>

     </div>

     <div class="col-12 col-sm-7 offset-sm-1">
       <h2 class="text-center">Shilpa Pinnaka</h2>
    <br/>

   <p>
    Shilpa Pinnaka is a code newbie and this is her first app. She is passionate about Software Development and is very excited to learn code to create awesome apps and websites.

  </p>
   </div>

 </div>

</div>